@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
    color: white;
    font-family: system-ui, sans-serif;
}

@keyframes closeSidebarAnimation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes openSidebarAnimation {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes openNavbarAnimation {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes closeNavbarAnimation {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}